*{
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-family: 'Kumbh Sans', sans-serif;
}

:root{
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark: hsl(229, 23%, 23%);
	--dark-gray: hsl(227, 10%, 46%);
	--gray: hsl(0, 0%, 59%);
}

body{
	background-color: var(--dark-cyan);
	height: 100vh;
	color: hsl(227, 10%, 46%);
	overflow: hidden;
}

.bottom{
	position: absolute;
	/*bottom: -35em;*/
	/*right: -15em;*/
	transform: translate(70%, 30%);
}

.top{
	position: absolute;
	/*top: -35em;*/
	/*left: -15em;*/
	transform: translate(-30%, -60%);
}

.container{
	height: 20em;
	width: 350px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 20px;
}

.pattern{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	bottom: 50px;	
}

[class^="line"]{
	padding: 10px;
}

.line_1{
	display: flex;
}

h2{
	font-weight: 700;
	color: var(--very-dark);
	margin: 0 5px;
}

.line_2{
	color: var(--dark-gray);
	font-size: 14px;
	font-weight: 400;
	margin: -8px;
}

.victor{
	height: auto;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

.line_3{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
	width: 95%;
	margin-top: 20px;
	border-top: 1px solid var(--gray);
}

.item1{
	
}

[class^="item"]{
	text-align: center;
}

p{
	font-weight: 700;
	color: var(--very-dark);
}

span{
	color: var(--dark-gray);
	font-size: 10px;
	font-weight: 400;
}